flows.json
[
    {
        "id": "2c6a9d92.366c02",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "22b27766.335768",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7235959f.47fd0c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "18000c91.f78c53",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7590363f.d5a418",
        "type": "sap_hana_config",
        "z": "",
        "host": "hxehost",
        "port": "39015",
        "user": "NODERED",
        "password": "NodeRed2019!"
    },
    {
        "id": "d7b703f3.c91e",
        "type": "inject",
        "z": "7235959f.47fd0c",
        "name": "",
        "topic": "SQL",
        "payload": "[\"SELECT * FROM \\\"test\\\"\",\"TRUNCATE TABLE \\\"test\\\"\"]",
        "payloadType": "json",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "4f68cbee.cd0314"
            ]
        ]
    },
    {
        "id": "6fd1a1c7.b386f",
        "type": "debug",
        "z": "7235959f.47fd0c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "4f68cbee.cd0314",
        "type": "run_query",
        "z": "7235959f.47fd0c",
        "mydb": "7590363f.d5a418",
        "name": "run_query1",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "6fd1a1c7.b386f"
            ]
        ]
    },
    {
        "id": "b9aba332.6c07",
        "type": "inject",
        "z": "18000c91.f78c53",
        "name": "",
        "topic": "SQL",
        "payload": "[\"CREATE COLUMN TABLE \\\"test\\\"(\\\"index\\\" INTEGER);\",\"INSERT INTO \\\"test\\\" (\\\"index\\\") VALUES (1)\",\"INSERT INTO \\\"test\\\" (\\\"index\\\") VALUES (2)\",\"INSERT INTO \\\"test\\\" (\\\"index\\\") VALUES (3)\",\"SELECT COUNT(*) as \\\"COUNT\\\" FROM \\\"test\\\"\"]",
        "payloadType": "json",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "2467afa6.2510b"
            ]
        ]
    },
    {
        "id": "2467afa6.2510b",
        "type": "run_query",
        "z": "18000c91.f78c53",
        "mydb": "7590363f.d5a418",
        "name": "run_query2",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "e0464cfb.33d6b"
            ]
        ]
    },
    {
        "id": "e0464cfb.33d6b",
        "type": "debug",
        "z": "18000c91.f78c53",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "3bb6a7ff.f29668",
        "type": "table_monitor",
        "z": "22b27766.335768",
        "mydb": "7590363f.d5a418",
        "name": "tablemonitor1",
        "query": "SELECT COUNT(*) AS \"count\" FROM \"test\"",
        "interval": "1",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "8aa906a3.285798"
            ]
        ]
    },
    {
        "id": "8aa906a3.285798",
        "type": "debug",
        "z": "22b27766.335768",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "cd0d9621.d21448",
        "type": "http in",
        "z": "2c6a9d92.366c02",
        "name": "insert_http1",
        "url": "/insert",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "c69c9432.4e67a8"
            ]
        ]
    },
    {
        "id": "c69c9432.4e67a8",
        "type": "table_insert",
        "z": "2c6a9d92.366c02",
        "mydb": "7590363f.d5a418",
        "name": "tableinsert1",
        "table": "test",
        "columns": "index",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "feb43b56.4d1368"
            ]
        ]
    },
    {
        "id": "feb43b56.4d1368",
        "type": "http response",
        "z": "2c6a9d92.366c02",
        "name": "responseInsert1",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 200,
        "wires": []
    }
]