flows.json
[
    {
        "id": "7e1df555.b7ca0c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "53201359.ed519c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a46b365.5bcd5c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b759cafc.516588",
        "type": "saphanaconfig",
        "z": "",
        "host": "hxehost",
        "port": "39015",
        "user": "NODERED",
        "password": "NodeRed2019!"
    },
    {
        "id": "1cb7a62c.854dba",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "76030662.6e5d98",
        "type": "inject",
        "z": "53201359.ed519c",
        "name": "",
        "topic": "SQL",
        "payload": "[\"SELECT * FROM \\\"test\\\"\",\"TRUNCATE TABLE \\\"test\\\"\"]",
        "payloadType": "json",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "9beaa14f.378fd"
            ]
        ]
    },
    {
        "id": "4a800441.1ea28c",
        "type": "debug",
        "z": "53201359.ed519c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "9beaa14f.378fd",
        "type": "saphana",
        "z": "53201359.ed519c",
        "mydb": "b759cafc.516588",
        "name": "saphana1",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "4a800441.1ea28c"
            ]
        ]
    },
    {
        "id": "9719928d.4fa49",
        "type": "inject",
        "z": "5a46b365.5bcd5c",
        "name": "",
        "topic": "SQL",
        "payload": "[\"CREATE COLUMN TABLE \\\"test\\\"(\\\"index\\\" INTEGER);\",\"INSERT INTO \\\"test\\\" (\\\"index\\\") VALUES (1)\",\"INSERT INTO \\\"test\\\" (\\\"index\\\") VALUES (2)\",\"INSERT INTO \\\"test\\\" (\\\"index\\\") VALUES (3)\",\"SELECT COUNT(*) as \\\"COUNT\\\" FROM \\\"test\\\"\"]",
        "payloadType": "json",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "30fc4278.edf37e"
            ]
        ]
    },
    {
        "id": "30fc4278.edf37e",
        "type": "saphana",
        "z": "5a46b365.5bcd5c",
        "mydb": "b759cafc.516588",
        "name": "saphana2",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "3e642133.c4e04e"
            ]
        ]
    },
    {
        "id": "3e642133.c4e04e",
        "type": "debug",
        "z": "5a46b365.5bcd5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "ec92313b.58d1c",
        "type": "saphanatablemonitor",
        "z": "7e1df555.b7ca0c",
        "mydb": "b759cafc.516588",
        "name": "saphanatablemonitor1",
        "query": "SELECT COUNT(*) AS \"count\" FROM \"test\"",
        "interval": "1",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "4d378281.87ba3c"
            ]
        ]
    },
    {
        "id": "4d378281.87ba3c",
        "type": "debug",
        "z": "7e1df555.b7ca0c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 560,
        "y": 260,
        "wires": []
    }
]